@charset "UTF-8";
/**
 * form表单元素样式
 */
.ys-field {
  display: block;
  width: 100%;
  padding: 4px 8px;
  border: 1px solid #e4e4e4;
  line-height: 1.5;
  vertical-align: middle;
  background-color: #fff;
  background-image: url(about:blank);
  color: #333;
  -moz-transition: border 0.25s, box-shadow 0.25s;
  -o-transition: border 0.25s, box-shadow 0.25s;
  -webkit-transition: border 0.25s, box-shadow 0.25s;
  transition: border 0.25s, box-shadow 0.25s;
}
.ys-field:focus {
  border-color: #3bb4f2;
  outline: 0;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(59, 180, 242, 0.3);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(59, 180, 242, 0.3);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(59, 180, 242, 0.3);
}

.ys-field-sm {
  padding: 3px 8px;
  font-size: 12px;
}

.ys-field-lg {
  font-size: 18px;
}

.ys-form-br {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
