.header{
    background-color: #525252;
}
.header .ys-nav{
    max-width: 1200px;
}
.content{
    width: 100%;
}
.content .banner{
    width: 100%;
    height: 100px;
    background-color: #f26a18;
    border-bottom: 5px solid #0e90d2;
}
.banner .container{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.banner .container h1{
    margin-top: 20px;
    font-size: 44px;
    color: #fff;
    vertical-align: middle;
}
.page-container {
    width: 1200px;
    margin: 0 auto;
}
.left-nav{
    padding: 30px 30px;
    max-width: 260px;
}
.right-content{
    padding: 30px 0;
}
.show-code{
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #dfe2f1;
}
.show-code .show-code-result{
    padding: 10px 20px 0;
}
.show-code pre.prettyprint{
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    margin-bottom: 0;
    overflow: auto;
}
.show-code-result.grid div[class^="ys-cell"]{
    border: 1px solid black;
    padding: 10px 10px;
    margin: 10px 0;
}
.font-color-tip{
    display: inline-block;
    margin-left: 10px;
    width: 40px;
    height: 14px;
    background-color: #333;
}
.img-box{
    width: 400px;
    height: 154px;
}