@charset "utf-8";
/**
 * table样式
 */
@import "compass/css3";
@import "../sys_variables";
@import "../sys_mixins";

.ys-table{
	width: $table-width;
	margin-bottom: $table-mb;
	line-height: $lh;
	border-spacing: 0;
    border-collapse: separate;

    & caption{
    	font-size: 18px;
    }

    & tr td,& tr th{
    	padding: $table-padding;
    	border-bottom: 1px solid $table-border-color;
    	vertical-align: middle;
    }

    & tr th{
    	color: $table-color;
    	vertical-align: bottom;
    }
}
// 条纹表格
.ys-table-striped tbody > tr:nth-child(odd){
	background-color: $tr-bg-color;
}

//  边框表格
.ys-table-bordered{
	border: 1px solid $table-border-color;
}
.ys-table-bordered tbody > tr:last-child > td{
	border-bottom: 0;
}
//	圆角边框
.ys-table-radius{
	@include border-radius(5px);
}

.ys-table-hover tbody > tr{
	@include transition(background .2s);
	cursor: pointer;

	&:hover{
		background-color: darken($tr-bg-color,5%);
	}
	&:nth-child(odd):hover{
		background-color: darken($tr-bg-color,10%);
	}
}
//	带工具条表格
.ys-tool-table{
	position: relative;
	max-width: 100%;

	& .ys-tool-table-header{
		position: relative;
		height: $table-header-h;
		margin-bottom: 10px;
		line-height: $table-header-h;
		vertical-align: middle;
		background-color: $table-header-bgcolor;
		border-bottom: 1px solid #ddd;

		& h4{
			display: inline-block;
			padding: 0 15px;
		}
		& .ys-table-toolbar{
			display: inline-block;
			float: right;
		}
	}
}
// 表格文字居中形式
.ys-table-left{
	text-align: left;
}
.ys-table-right{
	text-align: right;
}
