@charset "UTF-8";
/**
 * 基本样式
 */
html, body {
  margin: 0;
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "\\5FAE\\8F6F\\96C5\\9ED1", "Hiragino Sans GB", sans-serif;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  font-size: 14px;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0 0 14px 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 18px;
}

h4, h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

small {
  font-weight: normal;
  color: #595959;
}

hr {
  display: block;
  padding: 0;
  border: 0;
  height: 0;
  border-top: 1px solid #e2e2e2;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

ul, ol {
  padding-left: 2em;
  margin-top: 0;
  margin-bottom: 0;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding: 0 5px;
}

table {
  max-width: 100%;
  text-align: center;
  empty-cells: show;
}

.ys-responsive-img {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: #0e90d2;
  text-decoration: none;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
a:hover {
  color: #084e72;
}

/* 通用效果CSS */
.text-tip-warning {
  color: #f0ad4e;
}

.text-tip-danger {
  color: #d9534f;
}

.text-tip-primary {
  color: #3071a9;
}

.text-tip-succ {
  color: #449d44;
}

.text-tip-info {
  color: #19a7f0;
}

.font-12 {
  font-size: 12px;
}

.font-normal {
  font-weight: normal !important;
}

.text-al {
  text-align: left !important;
}

.text-ar {
  text-align: right !important;
}

.w150 {
  width: 150px !important;
}
