@charset "UTF-8";
/**
 * 按钮组样式
 */
.ys-page:before, .ys-page:after {
  content: ' ';
  display: block;
  visibility: hidden;
}
.ys-page:after {
  clear: both;
}
.ys-page .ys-btn {
  position: relative;
  height: 23px;
  padding: 0 5px;
  line-height: 23px;
  font-size: 12px;
  border: 1px solid #dbdbdb;
  -moz-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}
.ys-page .ys-btn:hover {
  background-color: #f0f0f0;
  color: #333;
}
.ys-page .ys-btn.active {
  border-color: #f26a18;
  background-color: #fde7d9;
  color: #333;
}
.ys-page .ys-page-nums {
  display: inline-block;
  height: 23px;
  line-height: 21px;
  padding: 0 4px;
  border: 1px solid #dbdbdb;
  font-size: 12px;
  vertical-align: middle;
}
.ys-page .ys-page-nums .ys-field {
  width: 30px;
  min-width: 30px;
  height: 17px;
  line-height: 15px;
  vertical-align: middle;
  padding: 0 2px;
}
.ys-page .ys-page-nums span {
  display: inline-block;
  vertical-align: middle;
}

.ys-btn-group {
  display: inline-block;
  position: relative;
}
.ys-btn-group .ys-btn {
  position: relative;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}
.ys-btn-group .ys-btn:after {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}
.ys-btn-group:hover .ys-btn, .ys-btn-group.active .ys-btn {
  border: 1px solid #dbdbdb;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.ys-btn-group:hover .ys-btn:after, .ys-btn-group.active .ys-btn:after {
  content: "";
}
.ys-btn-group .ys-dropdown {
  display: none;
  position: absolute;
  top: 31px;
  right: 0;
  padding: 10px 15px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.ys-btn-group .ys-dropdown.ys-dropdown-left {
  left: 0;
  right: auto;
}
.ys-btn-group:hover .ys-dropdown, .ys-btn-group.active .ys-dropdown {
  display: block;
}
