
@charset "UTF-8";

$font-family:"Helvetica Neue", Helvetica, Arial, "Microsoft Yahei","\\5FAE\\8F6F\\96C5\\9ED1", "Hiragino Sans GB", sans-serif !default;
$font-size: 14px !default;
$font-color: #333 !default;
$lh: 1.5;

// 页面宽度变量 
$ct-c-width: 1200px !default;
$ct-width: 100% !default;

// 栅栏设置 
$grid-d-columns: 12 !default;
$grid-d-margin: 10px !default;
$grid-d-gutter: 20px !default;

$grid-tablet-columns: 8 !default;
$grid-tablet-margin: $grid-d-margin !default;
$grid-tablet-gutter: $grid-d-gutter !default;

$grid-p-columns: 4 !default;
$grid-p-margin: $grid-d-margin !default;
$grid-p-gutter: $grid-d-gutter !default;

$grid-max-columns: $grid-d-columns;

$media-desktop-lg: 1200px !default; 
$media-desktop: 960px !default;
$desktop-width: $media-desktop;
$media-tablet: 480px !default;

//button变量
$btn-radius: 2px !default;
$btn-color: transparent !default;
$btn-height: 32px !default;
$btn-min-width: 32px !default;
$btn-bdcolor: #dbdbdb !default;

//link btn 变量
$btn-lb-color: #f26a18 !default;

//color btn -- primary
$btn-primary-color: #f26a18 !default;

//button disabled
$btn-disable-color: #c0c0c0 !default;

//a变量
$link-color: #0e90d2 !default;

//table 
$table-width: 100% !default;
$table-padding: 10px !default; 
$table-mb: 15px !default; 
$table-border-color: #e4e4e4 !default;
$table-color: #a3a3a3 !default;
$tr-bg-color: #f0f0f0 !default;

$table-header-bgcolor: #f8f8f8 !default;
$table-header-h: 40px !default;

//nav 变量
$nav-height: 40px !default;
$nav-dark-color: #fff !default;
$nav-dark-bgcolor: #525252 !default;


//form表单
$input-bcolor: #e4e4e4 !default;
$input-bcolor-focus: #3bb4f2 !default;

$form-h-sm: 26px !default;
$form-h: 30px !default;
$form-h-lg: 36px !default;