@charset "utf-8";
/**
 * 基本btn样式
 */
@import "compass/css3";
@import "../sys_variables";
@import "../sys_mixins";

// 基本字体样式
html {
  font-family: $font-family; /* 1 */
  line-height: $lh; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
  font-size: $font-size;
  -webkit-font-smoothing: antialiased;
}
//标题 h1 ~ h6样式
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin: 0 0 14px 0;
}
h1 {
	font-size: $font-size*1.71;
}
h2 {
	font-size: $font-size*1.5;
}
h3 {
	font-size: $font-size*1.3;
}
h4, h5 {
	font-size: $font-size;
}
h6 {
	font-size: 12px;
}
//段落样式 p

//分割线 hr
hr {
	display: block;
    padding: 0;
    border: 0;
    height: 0;
    border-top: 1px solid #e2e2e2;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

//列表 ul li
ul, ol {
	padding-left: 2em;
	margin-bottom: 0;
}
.list-unstyled {
	list-style: none;
	padding-left: 0;
}
.list-inline {
	padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.list-inline > li {
	display: inline-block;
	padding: 0 5px;
}

//table 
table {
	max-width: 100%;
	text-align: center;
	empty-cells: show;
}

//img
.ys-responsive-img {
	display: block;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

//超链接
a {
	text-decoration: none;	
}
